@charset "UTF-8";

@media screen and (max-width: 1005px){
    .nav_bar{
        position: relative;
    }

    .menu{
        display: none;
    }

    .logo  {
        margin: 0;
        text-align: center;
    }

    header{
        padding-top: 50px;
        flex-direction: column;
    }

    .headline{
        margin: 5%;
        text-align: center;
    }

    .headline p {
        text-align: center;
    }

    .img_headline{
        margin: 5%;
    }

    .card{
        width: 100%;
        margin-top: 5%;
    }

    .whats{
        display: none;
    }
}