@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@400;700 & display=swap');


*{
	margin: 0;
	padding: 0;
	font-family: "Hind", Sans-serif;
}

header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1; /*COLOCANDO A DIV NA FRENTE*/
	background-color: #FF806C;
	padding: 20px 0;

	display: flex;
	justify-content: space-around;
	align-items: center;
	filter: drop-shadow( 0 2px 5px rgba(0, 0, 0, 0.219));
}

.logo{
	width: 170px;
	height: 55px;
	background-color: rgba(255, 168, 155, 0.801);	
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo p{
	color: white;
	font-weight: bold;
	letter-spacing: 4px;
	font-size: 16px; 
}

.material-symbols-outlined { /*DEFINIÇÕES DO GOOGLE*/
    font-variation-settings:'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

i#burguer{ /*MINHAS DEFINIÇÕES*/
    display: none;
    color: white;
	font-size: 50px;
}

i#burguer:hover{
    color: #455A64;
    cursor: pointer; /*ESPECIFICA QUE O CURSOR NO MOUSE VAI SER 'UMA MÃO' QUANDO O PONTEIRO ESTIVER SOBRE O ELEMENTO*/
}

ul{
	list-style: none;
}

ul > li{
	display: inline-block;
	margin-left: 30px;
	font-size: 20px;
	font-family: "Ubuntu", sans-serif;
	font-weight: bolder;
}

ul > li > a{
	padding: 10px;
	text-decoration: none;
	color:white;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.151);
}

ul > li > a:hover {
	color: #455A64;
	border-bottom: 3px solid #455A64;
}






main{
	background-color: #fff0f0;
	padding-top: 5vw;
}

.agrupamento{
	position: relative;
	margin: auto;
	width: 1100px;
}

.title_principal{
	display: inline-block;
	position: absolute;
	left: 110px;
	top: 120px;
	color: #FF806C;
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.233);
	line-height: 55px;
	text-align: center;
}



/*INTRODUÇÃO*/
.introducao {
	padding: 50px 0;
	display: flex;
	justify-content: space-around;
}

.texto_principal{
	padding: 5px;
	text-align: center;

	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.introducao img{
	width: 50%;
}



/*BLOCO*/
.bloco {
	background-color: white;
	height: 490px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 200px;
}

.imagem_box img{
	border-radius: 50%;
	border: 5px solid #E6E6FA;
	width: 300px;
	height: 300px;
}

.box_txt1{
	width: 440px;
	height: auto;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box_txt1 h3{
	color:rgb(78, 78, 78);
	text-align:right;
	font-size: 24px;
	font-family: "Kanit", Sans-serif;
	line-height: 21px;
	margin-bottom: 25px;
}

.box_txt1 p{
	color:rgb(34, 34, 34);
	text-align: center;
	font-size: 16px;
	line-height: 21px;
}



/*BLOCO DIFERENTE*/

.bloco_diferente {
	background-color: #366f8a7a;
	display: flex;
	flex-direction: row-reverse;
}



/*RECONHECIMENTO*/

.reconhecimento {
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 100px 120px 100px;
}

.title_reconhecimento{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.reconhecimento .title_reconhecimento h2{
	color:#FF806C;

	font-size: 40px;
	font-family: 'Roboto', sans-serif;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.144);
	margin-bottom: 10px;
}

.reconhecimento .title_reconhecimento p{
	color: rgb(78, 78, 78);
	font-size: 16px;
	margin-bottom: 50px;
}

.todos_feedbacks{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.feedback{
	background-color: white;
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.144);
	border-radius: 7px;
	width: 330px;
	height: 200px;
	box-sizing: border-box;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.feedback:hover{
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.226);
}

.feedback p{
	color:rgb(78, 78, 78);
}

.feedback .user{
	display: flex;
	align-items: center;
}

.user img{
	width: 70px;
	border-radius: 50%;
	margin-right: 20px;
	border: 4px solid #f1d78d;
}

.user p{
	color: #eed444;
	font-size: 20px;
	font-weight: bold;
}

.user2 img{
	border: 4px solid rgb(167, 190, 255);
}

.user2 p{
	color: #6c87ff;
}

.user3 img{
	border: 4px solid rgb(147, 233, 154);
}

.user3 p{
	color: #57e697;
}



/*RODADPE*/
footer{
	background-image: linear-gradient(#25414ee7, #436777d3);
	padding: 30px 0 50px 0;
	text-align: center;
}

.contato{
	margin: auto;
	width: 80vw;
	padding: 50px 0;
	display: flex;
	justify-content: space-between;
	text-align: left;
	border-bottom: 1px dotted white;
}

.contato h4{
	color: white;
	font-size: 18px;
	margin-bottom: 7px;
	text-transform: uppercase;
}

.contato p{
	color: white;
	font-size: 16px;
}

#telefone::before{
	color: white;
	content: '\260E\00A0';
}

#email::before{
	color: white;
	content: '\2709\00A0';
}

.redes img{
	width: 40px;
}

.redes img:hover{
	opacity: 0.8;
	cursor: pointer;
}

.criacao{
	margin-top: 50px;
}

.criacao p{
	color: white;
	font-size: 14px;
}

.whats{
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.whats img{
	width: 90px;
}




@media screen and (max-width: 1250px){
	#itens{
		display: block;
	}

	main{
		background-color: #fff0f0;
		padding-top: 10vw;
	}

	.agrupamento{
		position: relative;
		margin: auto;
		width: 850px;
	}


	.title_principal{
		font-size: 20px;
		left: 60px;
		top: 70px;
		line-height: 45px;
	}
	
	
	
	/*INTRODUÇÃO*/
	.introducao {
		background-color: transparent;
		width: 100%;
		padding: 100px 0;
		justify-content: space-around;
	}
	
	.texto_principal{
		padding: 0px;
	}
	
	.introducao img{
		width: 50%;
	}

	.texto_principal p{
		font-size: 16px;
		line-height: 25px;
	}


	/*BLOCO*/
	.bloco {
		height: 450px;
		padding: 0 0px;
		justify-content: center;
	}

	.imagem_box img{
		margin-right: 50px;
		width: 250px;
		height: 250px;
	}

	.box_txt1 h3{
		color:rgb(78, 78, 78);
		text-align:right;
		font-size: 24px;
		font-family: "Kanit", Sans-serif;
		line-height: 21px;
		margin-bottom: 25px;
	}

	.box_txt1 p{
		color:rgb(34, 34, 34);
		text-align: center;
		font-size: 16px;
		line-height: 21px;
	}



	/*BLOCO DIFERENTE*/

	.bloco_diferente {
		background-color: #366f8a7a;
	}

	.bloco_diferente p{
		margin: 0 50px 0 0;
	}



	/*RECONHECIMENTO*/
	.reconhecimento {
		padding: 100px 30px 120px 30px;
	}

	.todos_feedbacks{
		flex-direction: row;
	}

	.feedback{
		
		width: 28vw;
		height: auto;
		padding: 10px;
		justify-content: flex-start;
	}


	.feedback p{
		font-size: 14px;
	}

	.user img{
		margin-top: 10px;
	}

	.user p{
		font-size: 19px;
	}

	.whats img{
		width: 7vw;
	}
}




@media screen and (max-width: 930px){
	/*HEADER*/
	header{
		box-sizing: border-box;
		padding: 3vw 10vw 0 10vw;
		flex-direction: column;
		width: 100%;
	}

	main{
		padding-top: 15vw;
	}

	.menu{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	
	.logo{
		width: 23vw;
		height: 8vw;
		margin-bottom: 3vw;
	}

	.logo p{
		letter-spacing: 0.7vw;
		font-size: 2.7vw;
	}

	#itens{
		margin-top: 5vw;
		display: none;
	}

	i#burguer{
		display: block;
		font-size: 8vw;
	}
	
	ul{
		margin: 0;
	}
	
	ul > li{
		text-align: center;
		margin: 0;
		display: block;
		font-size: 3.5vw;
		border-top: 0.8vw solid #fff0f0a1;

	}
	
	ul > li > a{
		display: block;
		padding: 1vw 0;
		width: 80vw;
	}
	
	ul > li > a:hover {
		background-color: #fff0f0a1;
		color: white;
		border: none;
	}

	.selecionado{
		background-color: #fff0f048;
	}


	/*TITLE*/
	.agrupamento{
		width: 100%;
	}

	.title_principal{
		display: block;
		position: initial;
		padding: 5vw 0 2vw 0;
		font-size: 3vw;
		line-height: 7vw;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.233);
	}
	

	
	/*INTRODUÇÃO*/
	.introducao {
		padding: 0 0 0 0;
		flex-direction: column-reverse;
		align-items: center;
	}

	.introducao img{
		width: 80%;
	}
	
	.texto_principal{
		padding: 5vw 15vw 8vw 15vw;
		align-items: flex-end;
		justify-content: center;
	}
	
	.texto_principal p{
		font-size: 2.5vw;
		line-height: 3.5vw;
	}



	/*BLOCO*/
	.bloco {
		height: auto;
		flex-direction: column;
		padding: 10vw 15vw;
	}

	.imagem_box{
		width: auto;
		height: auto;
	}

	.imagem_box img{
		margin: 0;
		border: 4px solid #E6E6FA;
		width: 40vw;
		height: 40vw;
	}

	.box_txt1{
		width: 100%;
	}

	.box_txt1 h3{
		margin: 0;
		font-size: 4vw;
		margin: 3vw 0;
	}

	.box_txt1 p{
		margin: 0;
		font-size: 2.5vw;
		line-height: 3.5vw;
	}



	/*RECONHECIMENTO*/
	.reconhecimento {
		padding: 7vw 10vw;
	}
	
	.reconhecimento .title_reconhecimento h2{
		font-size: 5.5vw;
		margin-bottom: 2vw;
	}
	
	.reconhecimento .title_reconhecimento p{
		text-align: center;
		margin-bottom: 10vw;
		font-size: 3vw;
		line-height: 3.5vw;
	}
	
	.todos_feedbacks{
		flex-direction: column;
		align-items: center;
	}
	
	.feedback{
		width: 400px;
		height: auto;
		padding: 3.5vw;
		margin-bottom: 5vw;
		box-shadow: 0 0 1vw 1vw rgba(0, 0, 0, 0.050);
		line-height: 3.5vw;
	}
	
	.feedback:hover{
		box-shadow: 0 0 2vw 1vw rgba(0, 0, 0, 0.100);
	}
	
	.feedback p{
		font-size: 2.3vw;
	}
	
	.user img{
		margin-top: 1vw;
		width: 7vw;
		border-radius: 50%;
		margin-right: 2.5vw;
		border: 5px solid #f1d78d;
	}
	
	.user p{
		font-size: 3.5vw;
	}
	
	.user2 img{
		border: 5px solid rgb(167, 190, 255);
	}
	
	.user2 p{
		color: #6c87ff;
	}
	
	.user3 img{
		border: 5px solid rgb(147, 233, 154);
	}
	
	.user3 p{
		color: #57e697;
	}
	


	/*RODADPE*/
	footer{
		padding-bottom: 5vw;
	}

	.contato{
		width: 80vw;
		padding: 0 0;
		flex-direction: column;
	}

	.contato h4{
		margin-top: 3vw;
		font-size: 2.5vw;
		margin-bottom: 0;
	}

	.contato p{
		font-size: 1.8vw;
	}

	.redes img{
		width: 5.5vw;
	}

	.criacao{
		margin-top: 5vw;
	}

	.criacao p{
		font-size: 1.8vw;
	}

	.whats img{
		width: 10vw;
	}
}




@media screen and (max-width: 600px){
	header{
		flex-direction: column;
		width: 100%;
	}

	.agrupamento{
		width: 100%;
	}


	.title_principal{
		display: block;
		position: initial;
		padding: 7vw;
		font-size: 4.5vw;
		line-height: 10vw;
		text-shadow: 0.5vw 0.5vw 0.8vw rgba(0, 0, 0, 0.185);
	}
	

	
	/*INTRODUÇÃO*/
	.introducao {
		padding: 0 0 0 0;
		flex-direction: column-reverse;
		align-items: center;
	}

	.introducao img{
		width: 80vw;
	}
	
	.texto_principal{
		padding: 12vw;
		align-items: flex-end;
		justify-content: center;
	}

	.texto_principal p{
		font-size: 4vw;
		line-height: 5.5vw;
	}



	/*BLOCO*/
	.bloco {
		height: auto;
		flex-direction: column;
		padding: 10vw;
	}

	.imagem_box{
		width: auto;
		height: auto;
	}

	.imagem_box img{
		border: 1vw solid #E6E6FA;
		width: 50vw;
		height: 50vw;
	}

	.box_txt1{
		width: 100%;
	}

	.box_txt1 h3{
		font-size: 5vw;
		margin: 3vw 0;
	}

	.box_txt1 p{
		font-size: 4vw;
		line-height: 5.5vw;
	}



	/*RECONHECIMENTO*/
	.reconhecimento {
		padding: 10vw 5vw;
	}
	
	.reconhecimento .title_reconhecimento h2{
		font-size: 7vw;
		margin-bottom: 3vw;
	}
	
	.reconhecimento .title_reconhecimento p{
		text-align: center;
		font-size: 4vw;
		margin-bottom: 10vw;
		line-height: 5.5vw;
	}
	
	.todos_feedbacks{
		flex-direction: column;
		align-items: center;
	}
	
	.feedback{
		width: 60vw;
		height: auto;
		padding: 4vw;
		margin-bottom: 5vw;
		box-shadow: 0 0 2vw 1vw rgba(0, 0, 0, 0.050);
		line-height: 4vw;
	}
	
	.feedback:hover{
		box-shadow: 0 0 2vw 1vw rgba(0, 0, 0, 0.100);
	}
	
	.feedback p{
		font-size: 3vw;
	}
	
	.user img{
		margin-top: 2vw;
		width: 10vw;
		border-radius: 50%;
		margin-right: 3vw;
		border: 1vw solid #f1d78d;
	}
	
	.user p{
		font-size: 5vw;
	}
	
	.user2 img{
		border: 1vw solid rgb(167, 190, 255);
	}
	
	.user2 p{
		color: #6c87ff;
	}
	
	.user3 img{
		border: 1vw solid rgb(147, 233, 154);
	}
	
	.user3 p{
		color: #57e697;
	}
	


	/*RODADPE*/
	footer{
		padding-bottom: 8vw;
	}

	.contato{
		width: 80vw;
		padding: 0 0;
		flex-direction: column;
	}

	.contato h4{
		margin-top: 7vw;
		font-size: 4vw;
		margin-bottom: 0;
	}

	.contato p{
		font-size: 3vw;
	}

	.redes img{
		width: 8vw;
	}

	.criacao{
		margin-top: 8vw;
	}

	.criacao p{
		font-size: 3vw;
	}

	.whats{
		bottom: 1.5vw;
		right: 1.5vw;
	}

	.whats img{
		width: 14vw;
	}
}