@charset "UTF-8";


*{
	margin: 0;
	padding: 0;
}

header{
	background-color: #eeeae5;
	padding: 20px 0;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo{
	width: 170px;
	height: 55px;
	background-color: yellow;
	
}

ul{
	list-style: none;
}

ul > li{
	display: inline-block;
	margin-left: 30px;
	font-size: 20px;
	font-family: "Ubuntu", sans-serif;
	font-weight: bolder;
}

ul > li > a{
	padding: 10px;
	text-decoration: none;
	color:black;
}

ul > li > a:hover {
	color: #19948e;
	border-bottom: 3px solid #19948e;
	transform: translate(0.3s);
}

ul > li > a.botao_login {
	color: #be7a27 ;
	font-size: 22px;
}

ul li a.botao_login:hover {
	color:#FF8C00;
	border-bottom: 3px solid #f8ac50;
}


/*BLOCO 1*/
.bloco1home {
	background-image: url('../imagens/casa-de-repouso-01.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.8;
	height: 500px;
	padding: 30px 190px;
}

.titulo {
	height: auto;
	width: 500px;
	float: center;
}

.titulo h1{
	color:black;
	font-size: 28px;
	font-family: "Kanit", Sans-serif;
}

hr {
	background-color: #4876FF;
	width: 490px;
	height: 4px;
	border: none;
}

.box_esquerda{
	width: 450px;
	height: 300px;
	float: left;
	position: relative;
	margin: 20px auto auto auto;
}

.box_esquerda p{
	color:black;
	font-size: 17px;
	line-height: 21px;
	font-family: "Hind", Sans-serif;
}

.box_direita{
	width: 450px;
	height: 300px;
	float:right;
	position: relative;
	margin: 20px auto auto auto;
}

.box_direita p{
	color:black;
	font-size: 17px;
	line-height: 21px;
	font-family: "Hind", Sans-serif;
}

/*Bloco 2*/
.bloco1 {
	background-color: white;
	height: 490px;
	position: relative;
	margin: auto auto auto auto;
}

.imagem_box {
	background:url('../imagens/cuidador-de-idosos.png') center no-repeat ;
	border: 5px solid #E6E6FA;
	width: 500px;
	height: 300px;
	float: left;
	position: relative;
	margin: 40px 20px 70px 170px;
}

.box_txt1{
	width: 440px;
	height: auto;
	margin: 40px 170px 70px 10px;
	position: relative;
	float: left;
}

.box_txt1 p{
	color:black;
	text-align:right;
	font-size: 16px;
	font-family: "Hind", Sans-serif;
	line-height: 21px;
}

.box_txt1 h3{
	color:black;
	text-align:right;
	font-size: 24px;
	
	font-family: "Kanit", Sans-serif;
	line-height: 21px;
}

.botao_saiba_mais{
  	background-color: white;
	width: 150px;
	height: 50px;
	border: 2px solid #20B2AA;
	margin: 30px auto auto auto;
}

.botao_saiba_mais:hover{
	background-color: #20B2AA;
	border: 2px solid #20B2AA;
	color:white;
}

.botao_saiba_mais a{
  	font-size: 16px;
	color:black;
	text-decoration: none;
}


/*bloco3*/

.bloco2 {
	background-color: #B0E0E6;
	height: 490px;
	position: relative;
	margin: auto auto auto auto;
}


/*CRIAR CONTA*/

.criar_conta {
	background-color: #FFE4B5;
	height: 190px;
	position: relative;
	margin: auto auto auto auto;
}


.criar_conta .box_txt2{
	width: 440px;
	height: auto;
	margin: 50px 50px 30px 200px;
	position: relative;
	float:left;
}

.criar_conta .box_txt2 p{
	color:black;
	text-align:left;
	font-size: 16px;
	font-family: "Hind", Sans-serif;
	line-height: 21px;
}

.criar_conta .box_txt2 h3{
	color:black;
	text-align:left;
	font-size: 24px;
	font-family: "Kanit", Sans-serif;
	line-height: 21px;
}

.criar_conta .botao_criar_conta{
  	background-color: white;
	width: 270px;
	height: 70px;
	border: 2px solid  #4682B4;
	margin: 60px 0px;
	font-weight:bolder;
}

.criar_conta .botao_criar_conta:hover{
	background-color: #4682B4;
	border: 2px solid #4682B4;
}

.criar_conta .botao_criar_conta a{
  	font-size: 16px;
	color:black;
	text-decoration: none;
}



/*Bloco final*/




/*Rodape*/


footer{
	background: #1f3c58;
	color: #ebebeb;
	padding: 20px 0;
	text-align: center;
	font-size: 13px;
	height: 50px;
	width:auto;
	font-family: "Hind", Sans-serif;
}