@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@400;700 & display=swap');


*{
	margin: 0;
	padding: 0;
}

header{
	background-color: #FF806C;
	padding: 20px 0;

	display: flex;
	justify-content: space-around;
	align-items: center;
	filter: drop-shadow( 0 2px 5px rgba(0, 0, 0, 0.219));
}

.logo{
	width: 170px;
	height: 55px;
	background-color: rgb(216, 216, 130);
	
}

ul{
	list-style: none;
}

ul > li{
	display: inline-block;
	margin-left: 30px;
	font-size: 20px;
	font-family: "Ubuntu", sans-serif;
	font-weight: bolder;
}

ul > li > a{
	padding: 10px;
	text-decoration: none;
	color:white;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.151);
}

ul > li > a:hover {
	color: #455A64;
	border-bottom: 3px solid #455A64;
}

ul > li > a.botao_login {
	color: #455A64;
	font-size: 22px;
}

ul li a.botao_login:hover {
	color:#9b611b;
	border-bottom: 3px solid #9b611b;
}


/*BLOCO 1*/
.introducao {
	height: 500px;
	padding: 30px 0;
	background-color: #fff0f0;
	display: flex;
	justify-content: space-around;
}

.texto_principal{
	padding: 50px;
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.introducao h1{
	color: #FF806C;
	font-size: 50px;
	font-family: 'Roboto', sans-serif;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
}

.introducao p{
	margin-top: 30px;
	font-family: "Hind", Sans-serif;
}

/*Bloco 2*/
.bloco1 {
	background-color: white;
	height: 490px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.imagem_box img{
	border-radius: 50%;
	border: 5px solid #E6E6FA;
	width: 300px;
	height: 300px;
	margin-right: 100px;
}

.box_txt1{
	width: 440px;
	height: auto;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box_txt1 h3{
	color:black;
	text-align:right;
	font-size: 24px;
	font-family: "Kanit", Sans-serif;
	line-height: 21px;
	margin-bottom: 25px;
}

.box_txt1 p{
	color:black;
	text-align: center;
	font-size: 16px;
	font-family: "Hind", Sans-serif;
	line-height: 21px;
}


/*bloco3*/

.bloco2 {
	background-color: #B0E0E6;
	height: 490px;
	position: relative;
	margin: auto auto auto auto;
}


/*CRIAR CONTA*/

.criar_conta {
	background-color: #FFE4B5;
	height: 190px;
	position: relative;
	margin: auto auto auto auto;
}


.criar_conta .box_txt2{
	width: 440px;
	height: auto;
	margin: 50px 50px 30px 200px;
	position: relative;
	float:left;
}

.criar_conta .box_txt2 p{
	color:black;
	text-align:left;
	font-size: 16px;
	font-family: "Hind", Sans-serif;
	line-height: 21px;
}

.criar_conta .box_txt2 h3{
	color:black;
	text-align:left;
	font-size: 24px;
	font-family: "Kanit", Sans-serif;
	line-height: 21px;
}

.criar_conta .botao_criar_conta{
  	background-color: white;
	width: 270px;
	height: 70px;
	border: 2px solid  #4682B4;
	margin: 60px 0px;
	font-weight:bolder;
}

.criar_conta .botao_criar_conta:hover{
	background-color: #4682B4;
	border: 2px solid #4682B4;
}

.criar_conta .botao_criar_conta a{
  	font-size: 16px;
	color:black;
	text-decoration: none;
}



/*Bloco final*/




/*Rodape*/


footer{
	background: #1f3c58;
	color: #ebebeb;
	padding: 20px 0;
	text-align: center;
	font-size: 13px;
	height: 50px;
	width:auto;
	font-family: "Hind", Sans-serif;
}