@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@400;700 & display=swap');


*{
	margin: 0;
	padding: 0;
	font-family: "Hind", Sans-serif;
}

header{
	background-color: #FF806C;
	padding: 20px 0;

	display: flex;
	justify-content: space-around;
	align-items: center;
	filter: drop-shadow( 0 2px 5px rgba(0, 0, 0, 0.219));
}

.logo{
	width: 170px;
	height: 55px;
	background-color: rgb(216, 216, 130);
	
}

ul{
	list-style: none;
}

ul > li{
	display: inline-block;
	margin-left: 30px;
	font-size: 20px;
	font-family: "Ubuntu", sans-serif;
	font-weight: bolder;
}

ul > li > a{
	padding: 10px;
	text-decoration: none;
	color:white;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.151);
}

ul > li > a:hover {
	color: #455A64;
	border-bottom: 3px solid #455A64;
}

.title_principal{
	display: inline-block;
	position: absolute;
	left: 100px;
	top: 270px;
	color: #FF806C;
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.233);
	line-height: 55px;
	text-align: center;
}



/*INTRODUÇÃO*/
.introducao {
	padding: 100px 50px 70px 50px;
	background-color: #fff0f0;
	display: flex;
	justify-content: space-around;
}

.texto_principal{
	padding: 50px;
	text-align: center;

	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.introducao img{
	width: 62%;
}



/*BLOCO*/
.bloco {
	height: 490px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 200px;
}

.imagem_box img{
	border-radius: 50%;
	border: 5px solid #E6E6FA;
	width: 300px;
	height: 300px;
}

.box_txt1{
	width: 440px;
	height: auto;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box_txt1 h3{
	color:rgb(78, 78, 78);
	text-align:right;
	font-size: 24px;
	font-family: "Kanit", Sans-serif;
	line-height: 21px;
	margin-bottom: 25px;
}

.box_txt1 p{
	color:rgb(34, 34, 34);
	text-align: center;
	font-size: 16px;
	line-height: 21px;
}



/*BLOCO DIFERENTE*/

.bloco_diferente {
	background-color: #366f8a7a;
	display: flex;
	flex-direction: row-reverse;
}



/*RECONHECIMENTO*/

.reconhecimento {
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 100px 120px 100px;
}

.title_reconhecimento{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.reconhecimento .title_reconhecimento h2{
	color:#FF806C;

	font-size: 40px;
	font-family: 'Roboto', sans-serif;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.144);
	margin-bottom: 10px;
}

.reconhecimento .title_reconhecimento p{
	color: rgb(78, 78, 78);
	font-size: 16px;
	margin-bottom: 50px;
}

.todos_feedbacks{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.feedback{
	background-color: white;
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.144);
	border-radius: 7px;
	width: 330px;
	height: 200px;
	box-sizing: border-box;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.feedback:hover{
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.226);
}

.feedback p{
	color:rgb(78, 78, 78);
}

.feedback .user{
	display: flex;
	align-items: center;
}

.user img{
	width: 70px;
	border-radius: 50%;
	margin-right: 20px;
	border: 4px solid #f1d78d;
}

.user p{
	color: #eed444;
	font-size: 20px;
	font-weight: bold;
}

.user2 img{
	border: 4px solid rgb(167, 190, 255);
}

.user2 p{
	color: #6c87ff;
}

.user3 img{
	border: 4px solid rgb(147, 233, 154);
}

.user3 p{
	color: #57e697;
}



/*RODADPE*/
footer{
	background-image: linear-gradient(#25414ee7, #436777d3);
	padding: 30px 0 50px 0;
	text-align: center;
}

.contato{
	margin: auto;
	width: 80vw;
	padding: 50px 0;
	display: flex;
	justify-content: space-between;
	text-align: left;
	border-bottom: 1px dotted white;
}

.contato h4{
	color: white;
	font-size: 18px;
	margin-bottom: 7px;
	text-transform: uppercase;
}

.contato p{
	color: white;
	font-size: 16px;
}

#telefone::before{
	color: white;
	content: '\260E\00A0';
}

#email::before{
	color: white;
	content: '\2709\00A0';
}

.redes img{
	width: 40px;
}

.redes img:hover{
	opacity: 0.8;
	cursor: pointer;
}

.criacao{
	margin-top: 50px;
}

.criacao p{
	color: white;
	font-size: 14px;
}



@media screen and (max-width: 600px){
	header{
		flex-direction: column;
	}


	.title_principal{
		display: block;
		position: initial;
		padding: 10vw;
		background-color: #fff0f0;
		font-size: 4.5vw;
		line-height: 10vw;
		text-shadow: 0.5vw 0.5vw 0.8vw rgba(0, 0, 0, 0.185);
	}
	

	
	/*INTRODUÇÃO*/
	.introducao {
		padding: 0 0 0 0;
		flex-direction: column-reverse;
		align-items: center;
	}
	
	.texto_principal{
		padding: 10vw;
		align-items: flex-end;
		justify-content: center;
	}
	
	.introducao img{
		width: 90%;
	}

	.texto_principal p{
		font-size: 4vw;
		line-height: 5.5vw;
	}



	/*BLOCO*/
	.bloco {
		height: auto;
		flex-direction: column;
		padding: 10vw;
	}

	.imagem_box{
		width: auto;
		height: auto;
	}

	.imagem_box img{
		border: 1vw solid #E6E6FA;
		width: 50vw;
		height: 50vw;
	}

	.box_txt1{
		width: 100%;
	}

	.box_txt1 h3{
		font-size: 5vw;
		margin: 3vw 0;
	}

	.box_txt1 p{
		font-size: 4vw;
		line-height: 5.5vw;
	}



	/*RECONHECIMENTO*/
	.reconhecimento {
		padding: 10vw 5vw;
	}
	
	.reconhecimento .title_reconhecimento h2{
		font-size: 7vw;
		margin-bottom: 3vw;
	}
	
	.reconhecimento .title_reconhecimento p{
		text-align: center;
		font-size: 4vw;
		margin-bottom: 10vw;
		line-height: 5.5vw;
	}
	
	.todos_feedbacks{
		flex-direction: column;
		align-items: center;
	}
	
	.feedback{
		width: 60vw;
		height: auto;
		padding: 4vw;
		margin-bottom: 5vw;
		box-shadow: 0 0 2vw 1vw rgba(0, 0, 0, 0.050);
		line-height: 4vw;
	}
	
	.feedback:hover{
		box-shadow: 0 0 2vw 1vw rgba(0, 0, 0, 0.100);
	}
	
	.feedback p{
		font-size: 3vw;
	}
	
	.user img{
		margin-top: 2vw;
		width: 10vw;
		border-radius: 50%;
		margin-right: 3vw;
		border: 1vw solid #f1d78d;
	}
	
	.user p{
		font-size: 5vw;
	}
	
	.user2 img{
		border: 1vw solid rgb(167, 190, 255);
	}
	
	.user2 p{
		color: #6c87ff;
	}
	
	.user3 img{
		border: 1vw solid rgb(147, 233, 154);
	}
	
	.user3 p{
		color: #57e697;
	}
	


	/*RODADPE*/
	footer{
		padding-bottom: 8vw;
	}

	.contato{
		width: 80vw;
		padding: 0 0;
		flex-direction: column;
	}

	.contato h4{
		margin-top: 7vw;
		font-size: 4vw;
		margin-bottom: 0;
	}

	.contato p{
		font-size: 3vw;
	}

	.redes img{
		width: 8vw;
	}

	.criacao{
		margin-top: 8vw;
	}

	.criacao p{
		font-size: 3vw;
	}
}